<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form>
    <input type="text" id="find-me">
    <button>search</button>
</form>

<img src="" alt="" id="result" style="display: none;">

<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>


<script>
    (function ($) {
        $(document).ready(function () {
            $('button').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '{% url 'api_caller:wiki_api' %}',
                    dataType: 'json',
                    method: "GET",
                    data: {
                        word: $('#find-me').val()
                    },
                    success: function (data) {
                        if(data.img)
                            $('#result').attr("src", data.img).show();
                        else
                            $('#result').attr("src", '')
                    }
                })
            })
        });
    })(jQuery)
</script>

</body>
</html>